{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="row justify-content-center min-vh-100 align-items-center">
        <div class="row justify-content-center min-vh-100 align-items-center">
            <div class="col-12 col-md-9 text-center">

                <div class="list-group list-group-flush" data-bs-spy="scroll" data-bs-smooth-scroll="true"
                     class="scrollspy-leaderboard" tabindex="0">
                    <div class="list-group-item">
                        <h1 class="mb-3">Leaderboard</h1>
                        <div class="mb-3">{{ dailyWord.date.toDate|format_date(dateFormat='long') }}</div>
                    </div>

                    {% for rank in ranking %}
                        <div id="{{ app.user.id }}"
                             class="list-group-item list-group-item-action ">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="d-flex align-items-start gap-3">
                                    <div {{ vue_component('Identicon', {
                                        name: rank.username,
                                        size: 60
                                    }) }}></div>
                                    <div class="text-start">
                                        <div class="fs-5">{{ rank.username|title }} {{ rank.username == app.user.name ? "(You)" }}</div>
                                        <div class="text-muted">{{ rank.time }}</div>
                                    </div>
                                </div>
                                <span class="badge fs-6 text-bg-dark rounded-pill">{{ rank.points|format_number }}</span>
                            </div>
                        </div>
                    {% else %}
                        <div class="list-group-item text-center text-muted">No one has solved it yet!</div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% endblock %}

    {% block title %}

    {% endblock %}

